.categories {
    width: 100%;
    padding: 14px 18px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
        padding: 13px 6px;
    }

    &__list {
        display: flex;
        gap: 16px;
        overflow-y: hidden;
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 7px;
            background-color: #f9f9fd;
            border-radius: 16px;

            &-thumb {
                border-radius: 10px;
                background: var(--violet-dark);
            }
        }
    }

    &__item {
        width: calc(100%/5);
        max-height: 220px;
        min-width: 85px;
        cursor: pointer;

        img {
            width: 100%;
            height: 82%;
            object-fit: cover;
        }

        h3 {
            text-align: center;

        }
    }
}