.app {
    max-width: 1274px;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width: 768px) {
        padding: 0 10px;
    }

}

.spinner {
    &__icon {
        animation: rotate-keyframes 1s linear infinite;

        circle {
            stroke-width: 1.5;
            stroke-opacity: 1;
            stroke: var(--color-light-dark);
        }

        path {
            stroke-width: 1.5;
            stroke: rgba(#fff, 1);
        }
    }
}

@keyframes rotate-keyframes {
    100% {
        transform: rotate(360deg);
    }
}